<%- include("../common/header_main",{title: "FaceBluff - Modificar Perfil", style: "css/modify.css"})%>
<div id="main-content">
    <h2 class="text-center">Modificar Perfil</h2>
    <form id="register" method="post" action="modify">
        <div class="container">
            <label class="left" for="email">Email</label>
            <input class="right" id="email" type="text" name="email" value="<%=email%>">
            <label class="left" for="password">Contraseña</label>
            <input class="right" id="password" type="password" name="password" value="<%=pass%>">
            <label class="left" for="name">Nombre Completo</label>
            <input class="right" id="name" type="text" name="name" value="<%=name%>">
            <label class="left" >Sexo</label>
            <div class="right">
                <%switch(gender){
                case 'male':%>
                    <input id="male" type="radio" name="gender" value="male" checked>
                    <label for="male">Masculino</label>
                    <input id="female" type="radio" name="gender" value="female">
                    <label for="female">Feminimo</label>
                    <input id="other" type="radio" name="gender" value="other">
                    <label for="other">Otro</label>
                <%break;
                case 'female':%>
                    <input id="male" type="radio" name="gender" value="male">
                    <label for="male">Masculino</label>
                    <input id="female" type="radio" name="gender" value="female" checked>
                    <label for="female">Feminimo</label>
                    <input id="other" type="radio" name="gender" value="other">
                    <label for="other">Otro</label>
                <%break;
                case 'other':%>
                    <input id="male" type="radio" name="gender" value="male">
                    <label for="male">Masculino</label>
                    <input id="female" type="radio" name="gender" value="female">
                    <label for="female">Feminimo</label>
                    <input id="other" type="radio" name="gender" value="other" checked>
                    <label for="other">Otro</label>
                <%}%>
            </div>
            <label class="left" for="dob">Fecha de Nacimiento</label>
            <input class="right" id="dob" type="date" name="dob" value="<%=dob%>">
            <img src="/prof_image/<%=currentUser%>" alt="Imagen de Perfil" id="prof_img">
            <label class="left" for="image">Imagen de Perfil</label>
            <input class="right" id="image" type="file" name="image">
        </div>
        <input class="submit-button purple-bt text-medium" type="submit" value="Guardar Cambios">
    </form>
</div>
</body>
</html>