<%- include("../common/header_main",{title: "FaceBluff - Amigos", style: "css/friends.css"})%>
		<div id="main-content">
			<%if(friendRequests.length){%>
				<h2 class="text-center">Solicitudes de Amistad</h2>
					<ul class="users-list">
                        <%for (elem of friendRequests){%>
						<li>
							<div class="user-profile">
								<img src="prof_image/<%=elem.id%>">
								<p><a href="/profile/<%=elem.id%>"><%=elem.name%></a></p>
							</div>
							<div class="friend-button">
								<form method="post" action="accept_friend">
									<input type="hidden" name="otherUser" value="<%=elem.id%>">
									<input class="purple-bt" type="submit" value="Aceptar">
								</form>
								<form method="post" action="reject_friend">
									<input type="hidden" name="otherUser" value="<%=elem.id%>">
									<input class="purple-bt" type="submit" value="Rechazar">
								</form>
							</div>
						</li>
                        <%}%>
					</ul>
			<%}%>
			<h2 class="text-center">Búsqueda de Amigos</h2>
			<form id="search_form" method="get" action="search">
				<label for="search">Buscar por Nombre</label>
				<input id="search" type="text" name="search">
				<input class="purple-bt text-large" type="submit" value="Buscar">
			</form>
			<%if(pending.length || friends.length){%>
				<h2 class="text-center">Mis Amigos</h2>
            	<%if(pending.length){%>
					<ul class="users-list">
						<%for (elem of pending){%>
							<li>
								<div class="user-profile">
									<img src="prof_image/<%=elem.id%>">
									<p><a href="/profile/<%=elem.id%>"><%=elem.name%></a></p>
									<p class="pendInfo">Pending</p>
								</div>
							</li>
						<%}%>
					</ul>
            	<%}%>
				<%if(friends.length){%>
					<ul class="users-list">
						<%for (elem of friends){%>
							<li>
								<div class="user-profile">
									<img src="prof_image/<%=elem.id%>">
									<p><a href="/profile/<%=elem.id%>"><%=elem.name%></a></p>
								</div>
							</li>
						<%}%>
					</ul>
				<%}%>
			<%}%>
		</div>
	</body>
</html>